*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 16px 0;
}

.home{
    padding: 10px;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
}
.library{
    min-height: 70vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-size: 12px;
}
.heading img{
    width: 23px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    color: grey;
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(27, 26, 26);
}

.header > *{
    padding: 20px;
}

.spotify-playlists{
    padding: 16px;
}

.card-container{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y:scroll;
    max-height: 80vh;
}

.card{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card> *{
    padding-top: 2px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
}

.play{
    width: 28px;
    height: 28px;
    background-color: #00FF00;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 135px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

